@model IEnumerable<Route.Domain.Model.File>


@{
    ViewData["Title"] = "Criação de Rota";
    int valor = 0;
}
<div class="text-center"><h1>Criação de Rota</h1></div>

<table class="table">
    <thead>
   <tr>
            <th>
             
            <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4">Example select</label>
      <select class="form-select" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
             
            </th>
            <th>
        <tr>
            <th>
            		@foreach (var header in ViewBag.ReadFile)
					{
                         <div class="form-check form-switch">
        <input class="form-check-input"  name="checkHeader" type="checkbox" id="flexSwitchCheckChecked" value=@header >
        <label class="form-check-label" for="@header">@header</label>
						
    </div>
						
						<br />
						valor++;
					}
            
              
            </th>
            <th>
               
  
    </thead>
    <tbody>


    </tbody>
</table>



   
			
				
