@{
	ViewData["Title"] = "Documento Gerado";
}
<br /><br />
<div class="row text-center ">
	<form asp-action="Download">

			<input type="submit" value="Download" class="btn btn-outline-secondary justify-content-center" />
		
	</form>

	 <br />
	<a asp-controller="Home" asp-action="Index" class="alert-link">Retornar Upload</a>.
</div>

