@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Usuario Registrado com Sucesso";
}
<br />
<br />
<div class="row d-flex justify-content-center text-center">
<h1>@ViewData["Title"]</h1>

</div>