@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Sistemas de Rotas</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7409.795465141875!2d-48.20170816480893!3d-21.784218679365175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1650452850750!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>