@model Route.Domain.Model.Person

@{
    ViewData["Title"] = "Cadastrar Pessoa";
}
<br />
<div class="row d-flex justify-content-center text-center">
    <h1>Cadastrar Pessoa</h1> 

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
     <br />
            <div class="form-group d-grid gap-2">
    
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <br />
    <a asp-action="Index">Visualizar Pessoas cadastradas</a>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
