@model Route.Domain.Model.Person

@{
    ViewData["Title"] = "Deletar Pessoa";
}
<br />
<div >
    <h1>Deletar</h1> 

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
      
               @if(@Model.Status == false){
                   <p>Disponível</p>
                }else{
                   <p>Indisponível</p>
                }
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Visualizar Pessoas Cadastras</a>
    </form>
</div>
